#body1{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0.02vh;
    background-repeat: no-repeat;

}
#body2{ 
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

}
#body3{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(grass.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0.02vh;
    background-repeat: no-repeat;

}
#box_text{
    position: absolute;
    height: 20vh;
    width: 30vw;
    right: 67.6vw;
    overflow-wrap: break-word;
}
#common_text{
    font-size: 1.2vw;
    color: black;
    position: absolute;
    top: 2.4vw;
    font-family: 'Common Pixel', sans-serif;
    visibility: hidden;
   
 
    

}
#image_text{
    background-image: url(text_box.jpeg);
    object-fit: cover;
    background-repeat: no-repeat;
    width: 32.5vw;
    height: 25vh;
    position: absolute;
    visibility: hidden;
    
    

}
#display_text{
    position:absolute;
    bottom: 10%;
    right: 40%;
    font-size: 2vw;
}
#name{

    position:absolute;
    bottom: 18%;
    right: 8.5%;
    font-size: 2vw;

}
#health{
    position:absolute;
    bottom: 12%;
    right: 6.5%;
    font-size: 2vw;
}
#stamina{

    position:absolute;
    bottom: 5%;
    right: 6%;
    font-size: 2vw;

}
#enemyhealth{
    font-size: 2vw;
    position:absolute;
    right: 78%;
    bottom: 5%;


}
#enemyname{
    font-size: 2vw;
    position: absolute;
    bottom: 12%;
    right: 82%;
}
#slash{
    font-size: 2vw;
    position: absolute;
    bottom: 12%;
    right: 60%;

}
#stab{
    font-size: 2vw;
    position: absolute;
    bottom: 5%;
    right: 60.5%;

}
#block{
    font-size: 2vw;
    position: absolute;
    bottom: 12%;
    right: 50%;

}
#dodge{
    font-size: 2vw;
    position: absolute;
    bottom: 5%;
    right: 49%;

}
#rest{
    font-size: 2vw;
    position: absolute;
    bottom: 8.5%;
    right: 40%;

}



/*All animations*/

